<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'Reddit Clone - Account Profile Page')}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>

    <nav th:replace="~{layouts/main_layout :: nav}"></nav>
    <div th:replace="~{layouts/main_layout :: jumbotron}"></div>

    <!-- profile -->
    <div id="profile" class="container">

        <div class="row">
            <div class="col-8">
                <div class="row profile-title">
                    <h4>Submited Links</h4>
                </div>
                <div class="row my-links" th:if="${isempty}">
                    <div class="alert alert-danger" role="alert">
                        No Links created. Are you ready to create your first link?
                        <a class="alert-link" th:href="@{/link/submit}">Try it out!</a>
                    </div>
                </div>
                <div class="row" th:if="!${isempty}" th:each="link : ${links}">
                    <div class="card col-12" style="width: 18rem;">
                        <div class="card-body">
                            <p class="title"><a class="title" th:href="@{'/link/' + ${link.id}}" th:text="${link.title}">What's new in Spring Boot 2</a></p>
                            <p class="tagline ">submitted
                                <!--<time title="Sat Mar 10 06:26:36 2018 UTC" datetime="2018-03-10T06:26:36+00:00" class="live-timestamp">2 hours ago</time> by-->
                                <time th:title="${link.getCreationDate()}" th:datetime="${link.getCreationDate()}" class="live-timestamp" th:text="${link.getPrettyTime()}">1 hour(s)</time> by
                                <a th:href="@{'/u/' + ${link.getUser().getAlias()}}" class="author" th:text="${link.getUser().getAlias()}">mkraguje</a>
                            </p>
                            <a th:href="@{'/link/' + ${link.id} + '#comments'}" class="comments" th:text="|${link.getComments().size()} comments|"><i class="fas fa-comments"></i> 0 comments</a>
                            <a href="/" class="share"><i class="fas fa-share-square"></i> share</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Side -->
            <div class="col-3 offset-1">
                <div class="row">
                    <div class="card col-12" id="user-photo">
                            <img id="photo" th:src="@{/images/profile_icon.png}" alt="Card image cap">
                            <input type="file" id="file">
                            <label for="file" id="upload-btn">Choose photo</label>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${user.getAlias()}">therealdanvega</p>
                        <a th:href="@{/link/submit}" class="btn btn-success btn-lg btn-block">New Post</a>
                    </div>
                </div>
                <div class="row">
                    <div class="card col-12">
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body">
                            <h5 class="card-title">Your Information</h5>
                            <p class="card-text">
                                <p th:text="|Posts: ${links.size()}|">Posts: 10</p>
                                <p th:text="|Comments: ${user.getCommentsCount()}|">Comments: 3</p>
                                <p th:text="|User Since: ${user.getCreationDate().toString().substring(0, 10)}|">User Since: </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- // row -->

    </div><!-- // profile -->

    <div th:replace="~{layouts/main_layout :: footer}"></div>
</body>
</html>